@import "tailwindcss";

@theme {
    --font-iosevka: "Iosevka", "sans-serif";
}

@font-face {
    src: url('/fonts/Iosevka-Regular.subset.woff2') format('woff2');
    font-family: 'Iosevka';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    font-synthesis: weight style small-caps;
}