@font-face {
    font-family: 'Iosevka';
    src: url('/fonts/Iosevka-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Iosevka';
    src: url('/fonts/Iosevka-Italic.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Iosevka';
    src: url('/fonts/Iosevka-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Iosevka';
    src: url('/fonts/Iosevka-ExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Iosevka Aile';
    src: url('/fonts/Iosevka-Black.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}