---
import WelcomeHeader from "../components/WelcomeHeader.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <main class="flex flex-col pt-8 h-screen">
        <WelcomeHeader />
        <div class="text-white mt-8">
            <p>
                I'm currently completely redoing my site. Check back later maybe
                :)
            </p>
        </div>
        <section class="text-white pt-8">
            <h2 class="uppercase font-bold">About Me</h2>
            <p>
                I'm a tech generalist from the Netherlands with a background in
                software development.
                <br /><br />
                Since 2022 I've got a newfound passion for UNIX based systems, namely
                Linux. I really enjoy learning about its ins and outs, because it
                allows me to shape the OS to fit any of my project's needs.
                <br /><br />
                I enjoy it so much that I decided to pursue an education and career
                in infrastructure, security, devops and sysadmin.
            </p>
        </section>
    </main>
</Layout>
