---
import WelcomeHeader from "../components/WelcomeHeader.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <main class="flex flex-col pt-8 h-screen">
        <WelcomeHeader />
        <div class="text-white mt-8">
            <p>
                I'm currently completely redoing my site. Check back later maybe
                :)
            </p>
            <div class="flex gap-2 underline mt-12">
                <a href="github.com/muradbu">github</a>
                <a href="twitter.com/muradbu">twitter</a>
            </div>
        </div>
    </main>
</Layout>
