<div class="flex flex-col gap-2 text-white border-white border-2 p-2">
    <div class="flex flex-row">
        <h1 class="text-4xl font-bold uppercase">Murad Büyükaşık</h1>
        <div class="pl-2 flex flex-col">
            <small class="flex gap-1"
                >boo<span>∙</span>yook<span>∙</span>ah<span>∙</span>shik</small
            >
            <small>it means big lover in turkish</small>
        </div>
    </div>
    <span class="text-lg"
        >Hello World, and welcome to my homepage on the World Wide Web!</span
    >
</div>
