---
import "../styles/global.css";
---

<!doctype html>
<html lang="en" class="dark">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<meta
			name="description"
			content="Tech generalist from the Netherlands exploring Linux, infrastructure, and DevOps. Writing about tech adventures, specialty coffee, music, and outdoor experiences. Personal blog and portfolio."
		/>
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>Murad Büyükaşık</title>
	</head>
	<body class="m-auto max-w-3xl px-2 lg:px-0 dark:bg-black">
		<slot />
	</body>
</html>
